.linkContainer{

}
.item a{
    margin: 0 0.5rem;
    color: grey;
}
.NavbarComponent{
    background-color: #1c1c1c;
    color: white;
;
}

.logout{
    justify-self: flex-end;
    margin: 0 0.5rem;
    color: white;
    cursor: pointer;
}
.Logo{
    content: "DateView";
}
.profilebutton a{
    margin-right: 1rem;
    color: grey;
    text-decoration: none;
}