.header {
  text-align: center;
  margin: 1rem 0;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid grey;
}
.Description {
  word-wrap: break-word;
  margin: 1rem;
  border: none;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.deleteButton {
  flex: 1;
}

.footer {
  margin-top: 1rem;
  display: flex;
}

.timeValues {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.ecdEditToggle,
.descEditToggle {
  position: absolute;
  cursor: pointer;
  right: 1rem;
}

.descEditToggle {
  top: 15.3rem;
}

.ecdEditToggle {
  top: 9rem;
}
.editTitle {
  text-align: center;
  margin: 1rem 0;
  font-size: 30px;
  border: none;
  color: white;
  width: 100%;
  border-bottom: 1px solid #00b8d2;
  background-color: #1c1c1c;
}
.errorMessage {
  position: relative;
  color: #ff4747;
}
.cleave2 {
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #00b8d2;
  outline: none;
  background: transparent;
  width: 45%;
  margin-right: 1rem;
}

.createButton {
  background-color: #0065a3;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: white;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #0071b8;
  }
}

.descriptionTextArea {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #00b8d2;
}

.assinged {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
}

.taskValues {
  border-bottom: 1px solid #00b8d2;
}
.dateTimePicker {
  border-bottom: 1px solid #00b8d2 !important;
}
