.header {
  text-align: center;
  margin: 1rem 0;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid grey;
}
.Description {
  word-wrap: break-word;
  margin: 1rem;
  border: none;
}

.footer {
  margin-top: 1rem;
}

.timeValues {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.ecdEditToggle,
.descEditToggle {
  position: absolute;
  cursor: pointer;
  right: 1rem;
}

.descEditToggle {
  top: 15.3rem;
}

.ecdEditToggle {
  top: 9rem;
}

.descriptionTextArea,
.ecdTextArea {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #00d21c;
  outline: none;
  background: transparent;
}

.assinged {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
}

.taskValues {
  border-bottom: 1px solid #00b8d2;
}
