.search {
  border-radius: 3px;
  background-color: rgb(59, 59, 59);
  flex: 1;
  display: flex;
  height: auto;
}

.search:hover {
  background-color: rgb(82, 82, 82);
}

.searchContainer {
}

.List {
}

.Typography {
  text-align: center;
}
