html,
body {

    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(31, 31, 31);
    background: linear-gradient(135deg, #5a0056, #fd1796, #a74f02);
    background-attachment: fixed;
    margin: 0;
}
a {
    text-decoration: none;
}

.container{
    margin: 1rem;
}