html,
body {

    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
    background: linear-gradient(90deg, #4b6cb7 25%, #182848 100%);
    margin: 0;
}
a {
    text-decoration: none;
}

.container{
    margin: 1rem;
}