.upcomingProductCard{
    background-color: #1c1c1c;

}

.button1{
margin: 0 1rem;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.upcomingProductContainer{
    margin: 0 -2rem 0 -3rem;

}

.textcolor{
    color:white;
}